<section class="px-content-header">
  <h1>复选框-Checkbox</h1>
  <small>可以同时选择多个</small>
</section>

<section class="px-content">
  <div class="h-20"></div>
  <div class="px-checkbox-group">
    <label class="px-checkbox-wrapper">
      <input type="checkbox" class="px-checkbox">
      <span>选项一</span>
    </label>
    <label class="px-checkbox-wrapper">
      <input type="checkbox" class="px-checkbox" checked>
      <span>选项二</span>
    </label>
    <label class="px-checkbox-wrapper">
      <input type="checkbox" class="px-checkbox" disabled>
      <span>选项三</span>
    </label>
    <label class="px-checkbox-wrapper">
      <input type="checkbox" class="px-checkbox" checked disabled>
      <span>选项四</span>
    </label>
  </div>
  <div class="h-20"></div>
  <p><a role="button" class="a-btn-code-example" (click)="isCollapse1 = !isCollapse1">代码示例 <i class="fa fa-plus"></i></a></p>
  <pre class="px-pre" [ngbCollapse]="isCollapse1">
    <code class="px-code">
      &lt;div class="px-checkbox-group">
        &lt;label class="px-checkbox-wrapper">
          &lt;input type="checkbox" class="px-checkbox">
          &lt;span>选项一&lt;/span>
        &lt;/label>
        &lt;label class="px-checkbox-wrapper">
          &lt;input type="checkbox" class="px-checkbox" checked>
          &lt;span>选项二&lt;/span>
        &lt;/label>
        &lt;label class="px-checkbox-wrapper">
          &lt;input type="checkbox" class="px-checkbox" disabled>
          &lt;span>选项三&lt;/span>
        &lt;/label>
        &lt;label class="px-checkbox-wrapper">
          &lt;input type="checkbox" class="px-checkbox" checked disabled>
          &lt;span>选项四&lt;/span>
        &lt;/label>
      &lt;/div>
    </code>
  </pre>
</section>