<section class="px-content-header">
  <h1>输入框-Input</h1>
  <small>提供两种不同尺寸的输入框，包含内容说明，验证样式</small>
</section>

<section class="px-content">
  <h2>场景一：基本类型</h2>
  <input class="px-input lg" placeholder="大尺寸">
  <input class="px-input sm" placeholder="小尺寸">
  <div class="h-20"></div>
  <p><a role="button" class="a-btn-code-example" (click)="isCollapse1 = !isCollapse1">代码示例 <i class="fa fa-plus"></i></a></p>
  <pre class="px-pre" [ngbCollapse]="isCollapse1">
    <code class="px-code">
      &lt;input class="px-input lg" placeholder="大尺寸">
      &lt;input class="px-input sm" placeholder="小尺寸">
    </code>
  </pre>

  <h2>场景二：禁用的</h2>
  <input class="px-input lg" placeholder="禁用的" disabled>
  <input class="px-input sm" placeholder="禁用的" disabled>
  <div class="h-20"></div>
  <p><a role="button" class="a-btn-code-example" (click)="isCollapse2 = !isCollapse2">代码示例 <i class="fa fa-plus"></i></a></p>
  <pre class="px-pre" [ngbCollapse]="isCollapse2">
    <code class="px-code">
      &lt;input class="px-input lg" placeholder="禁用的">
      &lt;input class="px-input sm" placeholder="禁用的">
    </code>
  </pre>

  <h2>场景三：带有说明文字的</h2>
  <div class="px-input-wrapper">
    <input class="px-input lg" placeholder="带有说明文字的">
    <span>内容说明：只能包含字母、数字及下划线</span>
  </div>
  <div class="h-20"></div>
  <p><a role="button" class="a-btn-code-example" (click)="isCollapse3 = !isCollapse3">代码示例 <i class="fa fa-plus"></i></a></p>
  <pre class="px-pre" [ngbCollapse]="isCollapse3">
    <code class="px-code">
      &lt;div class="px-input-wrapper">
        &lt;input class="px-input lg" placeholder="带有说明文字的">
        &lt;span>内容说明：只能包含字母、数字及下划线&lt;/span>
      &lt;/div>
    </code>
  </pre>

  <h2>场景四：带有校验的</h2>
  <div class="px-input-wrapper">
    <input class="px-input lg" placeholder="带有校验的" required [(ngModel)]="inputValue" #input="ngModel">
    <span class="validation" *ngIf="input.errors?.required">输入不能为空</span>
  </div>
  <div class="h-20"></div>
  <p><a role="button" class="a-btn-code-example" (click)="isCollapse4 = !isCollapse4">代码示例 <i class="fa fa-plus"></i></a></p>
  <pre class="px-pre" [ngbCollapse]="isCollapse4">
    <code class="px-code">
      //html
      &lt;div class="px-input-wrapper">
        &lt;input class="px-input lg" placeholder="带有校验的" required [(ngModel)]="inputValue" #input="ngModel">
        &lt;span class="validation" *ngIf="input.errors?.required">输入不能为空&lt;/span>
      &lt;/div>

      //typescript
      inputValue:string;
    </code>
  </pre>

  <h2>场景五：带有单位或图标的</h2>
  <div class="px-input-wrapper">
    <input class="px-input lg addon" placeholder="带有单位或图标的">
    <span class="addon">GB</span>
  </div>
  <div class="px-input-wrapper">
    <input class="px-input sm addon" placeholder="带有单位或图标的">
    <span class="addon">GB</span>
  </div>
  <div class="h-20"></div>
  <p><a role="button" class="a-btn-code-example" (click)="isCollapse5 = !isCollapse5">代码示例 <i class="fa fa-plus"></i></a></p>
  <pre class="px-pre" [ngbCollapse]="isCollapse5">
    <code class="px-code">
      &lt;div class="px-input-wrapper">
        &lt;input class="px-input lg addon" placeholder="带有单位或图标的">
        &lt;span class="addon">GB&lt;/span>
      &lt;/div>
      &lt;div class="px-input-wrapper">
        &lt;input class="px-input sm addon" placeholder="带有单位或图标的">
        &lt;span class="addon">GB&lt;/span>
      &lt;/div>
    </code>
  </pre>

  <h2>场景六：From To</h2>
  <div class="px-input-wrapper">
    <input class="px-input sm" placeholder="From">
    <i class="link">-</i>
    <input class="px-input sm" placeholder="To">
  </div>
</section>