<ul class="px-sidebar-menu">
  <li routerLinkActive="active">
    <a role="button" routerLink="/main/css/alert">
      <i class="fa fa-circle-o"></i>
      <span>Alert</span>
    </a>
  </li>
  <li routerLinkActive="active">
    <a role="button" routerLink="/main/css/breadcrumb">
      <i class="fa fa-circle-o"></i>
      <span>Breadcrumb</span>
    </a>
  </li>
  <li routerLinkActive="active">
    <a role="button" routerLink="/main/css/button">
      <i class="fa fa-circle-o"></i>
      <span>Button</span>
    </a>
  </li>
</ul>