<ul class="px-sidebar-menu">
  <li routerLinkActive="active">
    <a role="button" routerLink="/main/css/alert">
      <i class="fa fa-circle-o"></i>
      <span>Alert</span>
    </a>
  </li>
  <li routerLinkActive="active">
    <a role="button" routerLink="/main/css/breadcrumb">
      <i class="fa fa-circle-o"></i>
      <span>Breadcrumb</span>
    </a>
  </li>
  <li routerLinkActive="active">
    <a role="button" routerLink="/main/css/button">
      <i class="fa fa-circle-o"></i>
      <span>Button</span>
    </a>
  </li>
  <li routerLinkActive="active">
    <a role="button" routerLink="/main/css/card">
      <i class="fa fa-circle-o"></i>
      <span>Card</span>
    </a>
  </li>
  <li routerLinkActive="active">
    <a role="button" routerLink="/main/css/checkbox">
      <i class="fa fa-circle-o"></i>
      <span>Checkbox</span>
    </a>
  </li>
  <li routerLinkActive="active">
    <a role="button" routerLink="/main/css/form">
      <i class="fa fa-circle-o"></i>
      <span>Form</span>
    </a>
  </li>
  <li routerLinkActive="active">
    <a role="button" routerLink="/main/css/input">
      <i class="fa fa-circle-o"></i>
      <span>Input</span>
    </a>
  </li>
  <li routerLinkActive="active">
    <a role="button" routerLink="/main/css/modal">
      <i class="fa fa-circle-o"></i>
      <span>Modal</span>
    </a>
  </li>
  <li routerLinkActive="active">
    <a role="button" routerLink="/main/css/progress">
      <i class="fa fa-circle-o"></i>
      <span>Progress</span>
    </a>
  </li>
  <li routerLinkActive="active">
    <a role="button" routerLink="/main/css/radio">
      <i class="fa fa-circle-o"></i>
      <span>Radio</span>
    </a>
  </li>
  <li routerLinkActive="active">
    <a role="button" routerLink="/main/css/select">
      <i class="fa fa-circle-o"></i>
      <span>Select</span>
    </a>
  </li>
  <li routerLinkActive="active">
    <a role="button" routerLink="/main/css/tab">
      <i class="fa fa-circle-o"></i>
      <span>Tab</span>
    </a>
  </li>
</ul>