<template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <button type="button" class="close" (click)="d('Cross click')">
            <span>&times;</span>
        </button>
        <h4 class="modal-title">{{title}}</h4>
    </div>
    <div class="modal-body">
        <ng-content></ng-content>
    </div>
    <div class="modal-footer">
        <px-button [classType]="'primary'" (click)="_submit($event)">确认</px-button>
        <px-button [classType]="'primary-outline'" (click)="c('Close click')">关闭</px-button>
    </div>
</template>