<h3>Button</h3>
<px-button [classType]="'primary'">primary</px-button>
<px-button [classType]="'secondary'">secondary</px-button>
<px-button [classType]="'success'" [i]="'plus'">创建</px-button>
<px-button [classType]="'info'">info</px-button>
<px-button [classType]="'warning'">warning</px-button>
<px-button [classType]="'danger'">danger</px-button>
<px-button [classType]="'link'">link</px-button>
<br>
<br>
<px-button [classType]="'primary-outline'">primary</px-button>
<px-button [classType]="'secondary-outline'">secondary</px-button>
<px-button [classType]="'success-outline'" [i]="'plus'">创建</px-button>
<px-button [classType]="'info-outline'">info</px-button>
<px-button [classType]="'warning-outline'">warning</px-button>
<px-button [classType]="'danger-outline'">danger</px-button>
<br>
<br>
<br>
<br>
<br>
<br>
<px-button [classType]="'primary'" [disabled]="true">primary</px-button>
<px-button [classType]="'secondary'" [disabled]="true">secondary</px-button>
<px-button [classType]="'success'" [i]="'plus'" [disabled]="true">创建</px-button>
<px-button [classType]="'info'" [disabled]="true">info</px-button>
<px-button [classType]="'warning'" [disabled]="true">warning</px-button>
<px-button [classType]="'danger'" [disabled]="true">danger</px-button>
<px-button [classType]="'link'" [disabled]="true">link</px-button>
<br>
<br>
<px-button [classType]="'primary-outline'" [disabled]="true">primary</px-button>
<px-button [classType]="'secondary-outline'" [disabled]="true">secondary</px-button>
<px-button [classType]="'success-outline'" [i]="'plus'" [disabled]="true">创建</px-button>
<px-button [classType]="'info-outline'" [disabled]="true">info</px-button>
<px-button [classType]="'warning-outline'" [disabled]="true">warning</px-button>
<px-button [classType]="'danger-outline'" [disabled]="true">danger</px-button>