<h3>Modal</h3>
<px-modal [title]="'模态框1'" #myModal1 (submit)="submit1($event)">
    <px-input [label]="'姓名'"></px-input>
    <px-input [label]="'性别'"></px-input>
    <px-input [label]="'联系电话'"></px-input>
</px-modal>
<px-modal [title]="'模态框2'" #myModal2 [backdrop]="'static'" [keyboard]="false" (submit)="submit2($event)">
    <px-input [label]="'姓名'"></px-input>
    <px-input [label]="'性别'"></px-input>
    <px-input [label]="'联系电话'"></px-input>
</px-modal>
<px-button [classType]="'primary'" (click)="open1()">打开模态框</px-button>
<px-button [classType]="'primary'" (click)="open2()">打开不能通过键盘和空白处取消的模态框</px-button>