/*****************************/
/* alert
/****************************/
.px-alert {
    position: fixed;
    top: 50px;
    left: 30%;
    right: 30%;
    height: 40px;
    font-size: 14px;
    color: #fff;
    border-radius: 3px;
    text-align: center;
    padding: 13px 0;
}

.px-alert-success {
    background-color: #73cf22;
}