/*****************************/
/* bootstrap cover css
/****************************/
.px-btn {
    font-weight: normal;
    font-size: 14px;
    padding: 0 12px;
    min-width: 100px;
    height: 36px;
    line-height: 1;
    border-radius: 3px;
    outline: none;
}

.px-btn i {
    padding: 0 12px 0 0;
}

.px-btn-primary {
    color: #fff;
    background-color: #00abff;
    border-color: #00abff;
}

.px-btn-primary:hover {
    color: #fff;
    background-color: #00a3f5;
    border-color: #00a3f5;
}

.px-btn-primary:focus {
    color: #fff;
    background-color: #009ceb;
    border-color: #009ceb;
}

.px-btn-default {
    color: #00abff;
    background-color: #fff;
    border-color: #eee;
}

.px-btn-default:hover {
    color: #00abff;
    border-color: #eee;
    background-color: #fcfcfc;
}

.px-btn-default:focus {
    color: #fff;
    border-color: #00abff;
    background-color: #00abff;
}

.px-btn-more:focus {
    color: #00abff;
    border-color: #eee;
    background-color: #fcfcfc;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.px-btn-more-dropdown-menu {
    margin: 0;
    border: 0;
    padding: 0;
}

.px-btn-more-dropdown-menu button {
    border-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    display: block;
}

.px-btn-more-dropdown-menu button:not(:last-child) {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.px-btn-success {
    color: #fff;
    border-color: #73cf22;
    background: #73cf22;
}

.px-btn-success.create {
    padding-left: 32px;
    background:#73cf22 url("../../images/btn_icon_create.png") no-repeat 10px 10px;
}

.px-btn-success:hover {
    color: #fff;
    background: #6cc41f;
    border-color: #6cc41f;
}

.px-btn-success.create:hover {
    background:#6cc41f url("../../images/btn_icon_create.png") no-repeat 10px 10px;
}

.px-btn-success:focus {
    color: #fff;
    background: #67ba1e;
    border-color: #67ba1e;
}

.px-btn-success.create:focus {
    background:#67ba1e url("../../images/btn_icon_create.png") no-repeat 10px 10px;
}