/*****************************/
/* px-header
/****************************/
.px-header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    display: block;
}

.px-header .logo {
    background-color: #2c3e50;
    color: #fff;
    display: block;
    float: left;
    height: 50px;
    font-size: 20px;
    line-height: 50px;
    text-align: left;
    width: 200px;
    padding: 15px 0 15px 20px;
    font-weight: 300;
    overflow: hidden;
}

.px-header .logo .logo-img {
    height: 20px;
    margin-top: -5px;
}

.px-header .logo .logo-lg {
    display: block;
}

.px-navbar {
    background-color: #2c3e50;
    color: #fff;
    display: block;
    border: none;
    z-index: 1000;
    height: 50px;
    border-radius: 0;
}

.px-navbar .px-navbar-link {
    color: #fff;
    float: left;
    font-size: 14px;
    padding: 18px 14px;
}

.px-navbar .px-navbar-link:hover {
    color: #f6f6f6;
    background-color: rgba(255, 255, 255, 0.1);
}

.px-header-logo-collapsed {
    width: 0 !important;
}