/*****************************/
/* select
/****************************/
.px-select input {
    outline: none;
    height: 36px;
    border-radius: 2px;
    border: 1px solid #ddd;
    padding-left: 10px;
    font-size: 14px;
    color: #4d5761;
    width: 400px;
}

.px-select input:focus {
    border-color: #3fb3ff;
}