<section class="px-content-header">
  <h1>按钮-Buttons</h1>
  <small>提供四类不同场景的按钮</small>
</section>

<section class="px-content">
  <h2>场景一：标题旁的按钮</h2>
  <p>单个操作</p>
  <button class="btn px-btn px-btn-default">单个操作</button>
  <button class="btn px-btn px-btn-default" disabled>单个操作</button>
  <div class="h-20"></div>
  <p>代码示例</p>
  <pre class="px-pre">
    <code class="px-code">
      &lt;button class="btn px-btn px-btn-default">单个操作&lt;/button>
      &lt;button class="btn px-btn px-btn-default" disabled>单个操作&lt;/button>
    </code>
  </pre>
  <p>多个操作</p>
  <div ngbDropdown>
    <button class="btn px-btn px-btn-default px-btn-more" ngbDropdownToggle>更多操作</button>
    <div class="px-btn-more-dropdown-menu dropdown-menu">
      <button class="btn px-btn px-btn-default">操作1</button>
      <button class="btn px-btn px-btn-default">操作2</button>
      <button class="btn px-btn px-btn-default">操作3</button>
    </div>
  </div>
  <div class="h-20"></div>
  <p>代码示例</p>
  <pre class="px-pre">
    <code class="px-code">
      &lt;div ngbDropdown>
        &lt;button class="btn px-btn px-btn-default px-btn-more" ngbDropdownToggle>更多操作&lt;/button>
        &lt;div class="px-btn-more-dropdown-menu dropdown-menu">
          &lt;button class="btn px-btn px-btn-default">操作1&lt;/button>
          &lt;button class="btn px-btn px-btn-default">操作2&lt;/button>
          &lt;button class="btn px-btn px-btn-default">操作3&lt;/button>
        &lt;/div>
      &lt;/div>
    </code>
  </pre>
  <h2>场景二：常用按钮</h2>
  <button class="btn px-btn px-btn-success">常用按钮</button>
</section>