<section class="px-content-header">
  <h1>下拉选择框-Select</h1>
  <small>提供两种不同的场景</small>
</section>

<section class="px-content">
  <h2>场景一：不带输入模式</h2>
  <div ngbDropdown class="px-select">
    <input ngbDropdownToggle [(ngModel)]="inputSelect1" readonly placeholder="请选择">
    <i class="fa fa-caret-down"></i>
    <div class="dropdown-menu">
      <button (click)="inputSelect1 = '选项1'">选项1</button>
      <button (click)="inputSelect1 = '选项2'">选项2</button>
      <button (click)="inputSelect1 = '选项3'">选项3</button>
    </div>
  </div>
  <div ngbDropdown class="px-select">
    <input ngbDropdownToggle [(ngModel)]="inputSelect2" readonly placeholder="请选择" disabled>
    <i class="fa fa-caret-down"></i>
    <div class="dropdown-menu">
      <button (click)="inputSelect2 = '选项1'">选项1</button>
      <button (click)="inputSelect2 = '选项2'">选项2</button>
      <button (click)="inputSelect2 = '选项3'">选项3</button>
    </div>
  </div>
  <div class="h-20"></div>
  <p><a role="button" class="a-btn-code-example" (click)="isCollapse1 = !isCollapse1">代码示例 <i class="fa fa-plus"></i></a></p>
  <pre class="px-pre" [ngbCollapse]="isCollapse1">
    <code class="px-code">
      &lt;div ngbDropdown class="px-select">
        &lt;input ngbDropdownToggle [(ngModel)]="inputSelect1" readonly placeholder="请选择">
        &lt;i class="fa fa-caret-down">&lt;/i>
        &lt;div class="dropdown-menu">
          &lt;button (click)="inputSelect1 = '选项1'">选项1&lt;/button>
          &lt;button (click)="inputSelect1 = '选项2'">选项2&lt;/button>
          &lt;button (click)="inputSelect1 = '选项3'">选项3&lt;/button>
        &lt;/div>
      &lt;/div>
      &lt;div ngbDropdown class="px-select">
        &lt;input ngbDropdownToggle [(ngModel)]="inputSelect2" readonly placeholder="请选择" disabled>
        &lt;i class="fa fa-caret-down">&lt;/i>
        &lt;div class="dropdown-menu">
          &lt;button (click)="inputSelect2 = '选项1'">选项1&lt;/button>
          &lt;button (click)="inputSelect2 = '选项2'">选项2&lt;/button>
          &lt;button (click)="inputSelect2 = '选项3'">选项3&lt;/button>
        &lt;/div>
      &lt;/div>
    </code>
  </pre>
  <h2>场景二：带输入模式</h2>
  <div ngbDropdown class="px-select addon">
    <input [(ngModel)]="inputSelect3" placeholder="请选择或输入">
    <a class="addon" role="button" ngbDropdownToggle></a>
    <div class="dropdown-menu">
      <button (click)="inputSelect3 = '选项1'">选项1</button>
      <button (click)="inputSelect3 = '选项2'">选项2</button>
      <button (click)="inputSelect3 = '选项3'">选项3</button>
    </div>
  </div>
  <div class="h-20"></div>
  <p><a role="button" class="a-btn-code-example" (click)="isCollapse2 = !isCollapse2">代码示例 <i class="fa fa-plus"></i></a></p>
  <pre class="px-pre" [ngbCollapse]="isCollapse2">
    <code class="px-code">
      &lt;div ngbDropdown class="px-select addon">
        &lt;input [(ngModel)]="inputSelect3" placeholder="请选择或输入">
        &lt;a class="addon" role="button" ngbDropdownToggle>&lt;/a>
        &lt;div class="dropdown-menu">
          &lt;button (click)="inputSelect3 = '选项1'">选项1&lt;/button>
          &lt;button (click)="inputSelect3 = '选项2'">选项2&lt;/button>
          &lt;button (click)="inputSelect3 = '选项3'">选项3&lt;/button>
        &lt;/div>
      &lt;/div>
    </code>
  </pre>
</section>