<h3>Datepicker</h3>
<br>
<br>
<label class="label label-primary">输入框日期</label>
<br>
<br>
<px-button [classType]="'success'" (click)="selectToday2()">选择今天</px-button>
<px-button [classType]="'success'" (click)="pxdpnormal.navigateTo()">导航到本月</px-button>
<px-button [classType]="'success'" (click)="pxdpnormal.navigateTo({year: 2020, month: 1})">导航到2020年1月</px-button>
<px-button [classType]="'success'" (click)="pxdpnormal.open()">从外部打开</px-button>
<px-button [classType]="'success'" (click)="pxdpnormal.close()">从外部关闭</px-button>
<px-button [classType]="'success'" (click)="pxdpnormal.toggle()">从外部切换</px-button>
<br>
<br>
<px-datepicker [label]="'普通日期'" #pxdpnormal [model]="model3"></px-datepicker>
<px-datepicker [label]="'国际化日期'" [language]="'en'"></px-datepicker>
<px-datepicker [label]="'最大最小时间设置'"
               [minDate]="{year: 2015, month: 1, day: 1}"
               [maxDate]="{year: 2016, month: 12, day: 31}"></px-datepicker>
<px-datepicker [label]="'个性化设置'"
               [showNavigation]="false"
               [showWeekdays]="false"
               [showWeekNumbers]="true"></px-datepicker>
<px-datepicker [label]="'自定义开始日期'" [startDate]="{year: 2015, month: 4}"></px-datepicker>
<br>
<br>
<br>
<br>
<label class="label label-primary">静态日期</label>
<br>
<div class="row">
    <div class="col-md-4">
        <p>普通日期</p>
        <px-datepicker-static #pxdp [model]="model1" (modelChange)="setModel1($event)"></px-datepicker-static>
        <br>
        <pre>当前选择的日期是： {{ model1 | json }}</pre>
        <px-button [classType]="'success'" (click)="selectToday()">选择今天</px-button>
        <px-button [classType]="'success'" (click)="pxdp.navigateTo()">导航到本月</px-button>
        <px-button [classType]="'success'" (click)="pxdp.navigateTo({year: 2020, month: 1})">导航到2020年1月</px-button>
    </div>
    <div class="col-md-4">
        <p>国际化日期</p>
        <px-datepicker-static [language]="'en'" [model]="model2"
                              (modelChange)="setModel2($event)"></px-datepicker-static>
        <br>
        <pre>当前选择的日期是： {{ model2 | json }}</pre>
    </div>
    <div class="col-md-4">
        <p>最大最小时间设置</p>
        <px-datepicker-static [minDate]="{year: 2015, month: 1, day: 1}"
                              [maxDate]="{year: 2016, month: 12, day: 31}"></px-datepicker-static>
        <br>
        <pre>最大时间：year: 2016, month: 12, day: 31</pre>
        <pre>最小时间：year: 2015, month: 1, day: 1</pre>
    </div>
</div>
<br>
<br>
<br>
<br>
<div class="row">
    <div class="col-md-4">
        <p>个性化设置</p>
        <px-datepicker-static [showNavigation]="false"
                              [showWeekdays]="false"
                              [showWeekNumbers]="true"></px-datepicker-static>
        <br>
        <pre>不显示导航、星期、显示周</pre>
    </div>
    <div class="col-md-4">
        <p>自定义开始日期</p>
        <px-datepicker-static [startDate]="{year: 2015, month: 4}"></px-datepicker-static>
        <br>
        <pre>开始日期：year: 2015, month: 4</pre>
    </div>
</div>