<section class="px-content-header">
  <h1>模态框-Modal</h1>
  <small>模态框提供两种不同的场景</small>
</section>

<section class="px-content">
  <h2>场景一：确认提交模态框</h2>
  <button class="px-btn px-btn-primary" (click)="open1()">打开确认提交模态框</button>
  <template #modal1_template>
    <div class="px-modal-header">
      <h4>确认</h4>
      <a role="button" (click)="modal1.close()"></a>
    </div>
    <div class="px-modal-body">
      <div class="px-modal-confirm">
        <img src="../../../../public/images/modal_confirm.svg">
        <h5>确认提交吗？</h5>
        <small>提交后可以查看提交数据</small>
      </div>
    </div>
    <div class="px-modal-footer">
      <button class="px-btn px-btn-primary">确认</button>
      <button class="px-btn px-btn-cancel" (click)="modal1.close()">关闭</button>
    </div>
  </template>
  <div class="h-20"></div>
  <p><a role="button" class="a-btn-code-example" (click)="isCollapse1 = !isCollapse1">代码示例 <i class="fa fa-plus"></i></a></p>
  <pre class="px-pre" [ngbCollapse]="isCollapse1">
    <code class="px-code">
      //html
      &lt;button class="px-btn px-btn-primary" (click)="open1()">打开确认提交模态框&lt;/button>
      &lt;template #modal1_template>
        &lt;div class="px-modal-header">
          &lt;h4>确认&lt;/h4>
          &lt;a role="button" (click)="modal1.close()">&lt;/a>
        &lt;/div>
        &lt;div class="px-modal-body">
          &lt;div class="px-modal-confirm">
            &lt;img src="../../../../public/images/modal_confirm.svg">
            &lt;h5>确认提交吗？&lt;/h5>
            &lt;small>提交后可以查看提交数据&lt;/small>
          &lt;/div>
        &lt;/div>
        &lt;div class="px-modal-footer">
          &lt;button class="px-btn px-btn-primary">确认&lt;/button>
          &lt;button class="px-btn px-btn-cancel" (click)="modal1.close()">关闭&lt;/button>
        &lt;/div>
      &lt;/template>
      
      //typescript
      @ViewChild('modal1_template') modal1_template:any;
      modal1:any;

      constructor(private modalService:NgbModal) &#123;
      }

      open1() &#123;
        this.modal1 = this.modalService.open(this.modal1_template, &#123;
          backdrop: true,
          keyboard: true
        });
      }
    </code>
  </pre>

  <h2>场景二：确认删除模态框</h2>
  <button class="px-btn px-btn-delete" (click)="open2()">打开确认删除模态框</button>
  <template #modal2_template>
    <div class="px-modal-header">
      <h4>删除</h4>
      <a role="button" (click)="modal2.close()"></a>
    </div>
    <div class="px-modal-body">
      <div class="px-modal-confirm">
        <img src="../../../../public/images/modal_confirm.svg">
        <h5>确认删除数据吗？</h5>
        <small>删除后数据将丢失，不可恢复</small>
      </div>
    </div>
    <div class="px-modal-footer">
      <button class="px-btn px-btn-delete">删除</button>
      <button class="px-btn px-btn-cancel" (click)="modal2.close()">关闭</button>
    </div>
  </template>
  <div class="h-20"></div>
  <p><a role="button" class="a-btn-code-example" (click)="isCollapse2 = !isCollapse2">代码示例 <i class="fa fa-plus"></i></a></p>
  <pre class="px-pre" [ngbCollapse]="isCollapse2">
    <code class="px-code">
      //html
      &lt;button class="px-btn px-btn-delete" (click)="open2()">打开确认删除模态框&lt;/button>
      &lt;template #modal2_template>
        &lt;div class="px-modal-header">
          &lt;h4>删除&lt;/h4>
          &lt;a role="button" (click)="modal2.close()">&lt;/a>
        &lt;/div>
        &lt;div class="px-modal-body">
          &lt;div class="px-modal-confirm">
            &lt;img src="../../../../public/images/modal_confirm.svg">
            &lt;h5>确认删除数据吗？&lt;/h5>
            &lt;small>删除后数据将丢失，不可恢复&lt;/small>
          &lt;/div>
        &lt;/div>
        &lt;div class="px-modal-footer">
          &lt;button class="px-btn px-btn-delete">删除&lt;/button>
          &lt;button class="px-btn px-btn-cancel" (click)="modal2.close()">关闭&lt;/button>
        &lt;/div>
      &lt;/template>

      //typescript
      @ViewChild('modal2_template') modal2_template:any;
      modal2:any;

      constructor(private modalService:NgbModal) &#123;
      }

      open2() &#123;
        this.modal2 = this.modalService.open(this.modal2_template, &#123;
          backdrop: true,
          keyboard: true
        });
      }
    </code>
  </pre>
</section>