<header class="px-header">
  <a role="button" class="logo-mini hidden-md-up" routerLink="/main">
    <span>
      <img class="logo-img" src="../../../../public/images/PaletX-logo.png">
      <b>PX</b>
    </span>
  </a>
  <a role="button" class="logo-lg hidden-sm-down" routerLink="/main">
    <span>
      <img class="logo-img" src="../../../../public/images/PaletX-logo.png">
      <b>PaletX</b> UI
    </span>
  </a>

  <nav class="px-navbar">
    <a class="px-navbar-link hidden-sm-down" role="button" (click)="collapseSidebar($event)">
      <i class="fa fa-bars fa-fw"></i>
    </a>
    <a class="px-navbar-link" role="button">
      起步
    </a>
    <a class="px-navbar-link" role="button">
      全局CSS样式
    </a>
    <a class="px-navbar-link" role="button">
      Angular2组件库
    </a>
    <a class="px-navbar-link" role="button">
      UX设计规范
    </a>
    <a class="px-navbar-link" role="button">
      文档
    </a>
  </nav>
</header>