.navbar {
    height: 50px;
    padding: 0;
    background-color: #ecf0f5;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05), 0 1px 0 rgba(0, 0, 0, 0.05);
}

.navbar-brand {
    height: 50px;
    width: 200px;
    text-align: center;
    color: #c4d0d9;
    background-color: #1c2b36;
    font-weight: 700;
    font-size: 20px;
    line-height: 50px;
    padding: 0;
}

.navbar-brand.collapsed {
    display: none;
}

.navbar-nav .nav-link {
    padding-top: 18px;
    padding-bottom: 18px;
    margin-left: 16px;
    color: #363f44;
    font-size: 14px;
}