<header class="px-header">
  <a role="button" class="logo-mini hidden-md-up" (click)="switch('home')" routerLink="/main">
    <span>
      <img class="logo-img" src="../../../../public/images/PaletX-logo.svg">
      PX
    </span>
  </a>
  <a role="button" class="logo-lg hidden-sm-down" (click)="switch('home')" routerLink="/main">
    <span>
      <img class="logo-img" src="../../../../public/images/PaletX-logo.svg">
      PaletX UI
    </span>
  </a>

  <nav class="px-navbar">
    <a class="px-navbar-link hidden-sm-down"
       role="button" (click)="collapseSidebar($event)" *ngIf="switchValue !== 'home'">
      <i class="fa fa-bars fa-fw"></i>
    </a>
    <a class="px-navbar-link" role="button">
      起步
    </a>
    <a class="px-navbar-link" role="button" (click)="switch('css')" routerLink="/main/css">
      全局CSS样式
    </a>
    <a class="px-navbar-link" role="button" (click)="switch('components')" routerLink="/main/components">
      Angular2组件库
    </a>
  </nav>
</header>